<tr class="question">
    <td>
        <p>
            <%= question.question %>
            <% if question.user %>
                <%= link_to user_path(question.user), :class => 'label label-info' do %>
                    <%= question.user.nick %>
                <% end %>
            <% end %>
        </p>
        <small>
            <%= question.description %>
        </small>
    </td>
    <td class="question-answers">
        <ul>
            <%= render question.answers %>
        </ul>
    </td>
    <td class="question-answer-form">
        <%= semantic_form_for ([question.topic, question, question.answers.build], :html => { :class => "form-inline" }) do |f| %>
          <%= f.inputs do %>
            <%= f.input :answer, :input_html => { :class => 'input-medium' } %>
            <%= f.input :user_id, :as => :hidden, :value => current_user.id %>
          <% end %>
          <%= f.actions do %>
            <%= f.action :submit, :as => :button, :button_html => { :class => 'btn btn-success btn-small' } %>
          <% end %>
        <% end %>
        <%= link_to [question.topic, question], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-small' do %>
          <i class="icon-remove"></i> Delete Question
        <% end %>
    </td>
</tr>