<tr class="question" id="question-<%= question.id %>">
    <td>
        <p>
            <%= question.question %>
            <%# if question.user %>
                <%#= link_to user_path(question.user), :class => 'label label-info' do %>
                    <%#= question.user.nick %>
                <%# end %>
            <%# end %>
        <small>
            <%= question.description %>
        </small>
        </p>
        <%= ratings_block("question", question.id, current_user.id) %>
        <%= ratings_average_block("question", question.id) %>
    </td>
    <td class="question-answers span5">
        <ul>
            <%= render question.answers %>
        </ul>
            <div class="question-answer-form">
                <%= semantic_form_for([question.topic, question, question.answers.build], :html => { :class => "form-inline", :id => "answer-form-#{question.id}" }, :namespace => "answer-form-#{question.id}" ) do |f| %>
                  <%= f.inputs do %>
                    <%= f.input :answer, :input_html => { :class => 'input-medium' } %>
                    <%= f.input :user_id, :as => :hidden, :value => current_user.id %>
                  <% end %>
                  <%= f.actions do %>
                    <%= f.action :submit, :as => :button, :button_html => { :class => 'btn btn-success btn-small' } %>
                  <% end %>
                <% end %>
                <%= link_to [question.topic, question], :method => :delete, :data => { :confirm => 'Do you really want to delete this question?' }, :class => 'btn btn-small pull-right' do %>
                  <i class="icon-remove"></i> Delete Question
                <% end %>
            </div>
    </td>
</tr>