<div class="row-fluid">
    <div class="span12">
      <h1><%= @topic.name %></h1>

        <p>
          <%= @topic.description %>
        </p>
    </div>
</div>

<div class="row-fluid paddingTop">
    <div class="span12">
        <h2>Questions</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answers</th>
                    <th>Add an Answer</th>
                </tr>
            </thead>
            <tbody>
                <%= render @topic.questions %>
            </tbody>
        </table>

        <div class="topic-question-form">
          <h2>Add a Question</h2>
            <%= semantic_form_for([@topic, @topic.questions.build], :html => { :class => "form-horizontal" }) do |f| %>
              <%= f.inputs do %>
                <%= f.input :question, :input_html => { :class => 'input-xlarge' } %>
                <%= f.input :description, :input_html => { :class => 'input-xlarge', :rows => '5' } %>
                <%= f.input :user_id, :as => :hidden, :value => current_user.id %>
              <% end %>
              <%= f.actions do %>
                <%= f.action :submit, :as => :button, :button_html => { :class => 'btn btn-success' } %>
              <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <%= link_to edit_topic_path(@topic), :class => 'btn btn-info' do %>
          <i class="icon-edit icon-white"></i> Edit Topic
        <% end %>
        <%= link_to topics_path, :class => 'btn btn-info' do %>
          <i class="icon-home icon-white"></i> Back
        <% end %>
    </div>
</div>
